:root{
    --primary-branding: #fcedef;
    --secondary-color-branding: #003e1f;
    --third-color-branding: #f8c9e0; 
    --fourth-color-branding: #db7192;
}

body{
    background-color: var(--primary-branding);
}

.container{
    margin-top: 45px;
}


h2{
    font-family: 'Caveat', cursive;
}