:root{
    --primary-branding: #fcedef;
    --secondary-color-branding: #003e1f;
}

body{
    background-color: var(--primary-branding);
}

h2{
   font-weight: 100;
    font-family: 'Roboto', sans-serif;

}
.img-fluid{
    max-width: 115%;
}

.text-main{
    margin-left: 100px;
    color: var(--secondary-color-branding);
}

p.text-main{
 margin-top:150px;
}

.nav-link{
    color: var(--secondary-color-branding);
}


