:root{
    --primary-branding: #fcedef;
    --secondary-color-branding: #003e1f;
    --third-color-branding: #f8c9e0; 
    --fourth-color-branding: #db7192;
}

body{
    background-color: var(--primary-branding);
}

.nav-link{
    color: var(--secondary-color-branding);
}

.nav-link:hover{
    color: var(--third-color-branding);
}

.nav-link.active{
color: var(--fourth-color-branding) !important;
text-decoration: underline;
}

.container{
    margin-top: 50px;

}

.about-title{
  margin-top: 20px;
}

h1{

        font-weight: 800;
        color: var(--fourth-color-branding);
}
.second-title{
  font-family: 'Roboto', sans-serif;
       font-weight: 800;
}        



h2{
    font-family: 'Caveat', cursive;
    color: var(--secondary-color-branding);
      font-weight: 100;
}



p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--secondary-color-branding);
  font-size: 17px;
  line-height: 1.5;
}

.img-thumbnail{
    border-width: 3px;
    border-color: white;
}

  button.myCurriculum{
      background-color: var(--secondary-color-branding);
         padding: 12px;
           border-radius: 5px;
           border: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        margin: 0 auto;
        display: block;

}

.new-button{
      background-color: var(--secondary-color-branding);
         padding: 12px;
           border-radius: 5px;
                    border: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
}


a{
  color: var(--primary-branding);
  text-decoration: none;
}

a:hover{
    color: var(--third-color-branding);
    text-decoration: underline;
}


   
.fa-solid{
font-size: 90px;
color: var(--fourth-color-branding);
}

.services{
font-size: 30px;
    font-family: 'Caveat', cursive;
      } 

div.row.third, div.row.fourth {
  margin-left:55px ;
}      
       
a.style{
  color: var(--fourth-color-branding);
  font-weight: bolder;
  font-size: 18px;
}

a.style:hover{
  background: var(--secondary-color-branding);
  padding: 10px 10px;
  border-radius: 5px;
  color: var(--third-color-branding);
  
}

.contact-me{
  font-size: 60px;
  margin-top: 100px;
}

.header-contact{
  font-weight: 400;
}

footer{
background-color: white;
padding: 30px 30px;
display: block;
text-align: center;
}

a.footer-second{
color: var(--secondary-color-branding);
text-decoration: none;
font-size: 16px;
font-family: 'Roboto', sans-serif;
font-weight: 300px;
}

.fa-github, .fa-instagram, .fa-brands {
    color: var(--fourth-color-branding);
        font-size: 25px;
}

.fa-github:hover{
color: #f8c9e0;
}
.fa-instagram:hover{
color: #f8c9e0;
}
.fa-brands:hover{
color: #f8c9e0;
}

a.open-source{
  color: var(--fourth-color-branding);
}

  /*  About-me page small screen  */ 
@media (max-width: 412px) {

  .rounded-circle {
    margin-bottom: 22px;
  }

  h1.certifications{
    font-size: 50px;
  }

  .about-title, h2 {
    font-size: 40px;
    text-align: center;
    line-height: 1.5;
  }

  p{
    font-size: 17px;
    text-align: center;
  }

.about-title{
    text-align: center;
  }

  button.myCurriculum{
    display: block;
margin: 0 auto;
    font-size: 20px;

  }

   img.coding{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
  }



}



 /*  Responsive project page medium screen  */
@media(max-width:768px){
  h1.project-title{
text-align: center;
margin-top: 15px;
  }

  .new-button{
margin: 0px auto;
display: block;
  }


}

 /*  Responsive project page small screen  */
 @media(max-width: 409px){
    a.button-project{
font-size: 24px;
    }


 }




  /*  Other services medium screen  */ 

@media (max-width:733px){

     .ct-logo{
    width: 100px;
    margin: 0 auto;
    display: block;
  }
  .fa-solid{
    width: 100px;
    margin: 0 auto;
    display: block;
  }

  h2.services{
    margin: 0 auto;
    display: block;
  }

  a.style{
    text-align: center;
    font-size: 19px;
    margin: 0 auto;
    display: block;
    background-color: #003e1f;
    padding: 10px;
  }
  a.style:hover{
    text-decoration: none;
  }
  img.marketing-tool{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
  }


}
  /*  Other services smallscreen  */ 

@media (max-width:559px){

  div.row.third, div.row.fourth {
  margin-left:0px ;
}     
}

  /*  Other services smallscreen  */ 

@media (max-width:375px){

  div.row.third, div.row.fourth {
  margin-left:0px ;
}     
}


